.floating-btn {
    position: fixed;
    bottom: 140px;
    right: 30px;
    width: 120px;
    height: auto;
    background-color: transparent;
    cursor: pointer; 
    border: none;
    cursor: pointer;
    z-index: 20;
}

.goup-btn {
    position: fixed;
    bottom: 60px;
    right: 60px;

    width: 60px;
    height: 60px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.floating-text {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%); 
}

.first-line {
    display: block;
    white-space: nowrap;
    font-size: 15px;
}

.second-line {
    display: block;
    margin-top: 4px;
    font-size: 25px;
}

.highlight {
    color: #00BF40;
}