@import "../colors";
@import "../typography";

.back-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-left: -8px;
  
    &__icon {
      width: 32px;
      height: 32px;
    }
    
    margin-bottom: 32px;
  }