@import "./colors";
@import "./typography";

.toast {
    position: fixed;
    bottom: 60px; // ✅ 하단에서 60px 고정
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-color: rgba(17, 17, 17, 0.6);
    border-radius: 8px;
    @include font-style("body2");
    @include text-color("white");
    
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    white-space: pre-line;
    animation: toast-fadein 0.3s ease, toast-fadeout 0.3s ease 2.7s;
  }