@import "../colors";
@import "../typography";

.custom-radio {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    gap: 4px;

    input {
        display: none;
    }

    .radio-mark {
        width: 20px;
        height: 20px;
        border: 1px solid;
        @include border-color("line-medium");
        border-radius: 50%;
        box-sizing: border-box;
        flex-shrink: 0;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    input:checked + .radio-mark::after {
        content: '';
        width: 10px;
        height: 10px;
        @include bg-color("primary200");
        border-radius: 50%;
    }

    .label-text {
        @include font-style("title3");
        @include text-color("");
        align-items: center;
        line-height: 1;
    }

    &.checkbox {
        .radio-mark {
            width: 16px;
            height: 16px;
        }

        input:checked + .radio-mark::after {
            width: 8px;
            height: 8px;
        }

        .label-text {
            @include font-style("caption1");
        }
    }
}