@import "./colors";
@import "./typography";

.account-info {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 360px;
    max-width: 600px;
    padding: 24px 12px;
    margin: 0 auto;

    .back-button {
        width: 32px;
        height: 32px;
        cursor: pointer;
    }

    .content-area {
        width: 100%;
        padding: 0 8px;
        margin-top: 32px;
        box-sizing: border-box;
        margin-top: 32px;
    }

    h2 {
        @include font-style("title4");
        @include text-color("");
        margin: 0;
    }

    .info-area {
        @include bg-color("bg-weak");
        width: 100%;
        border-radius: 12px;
        padding: 10px 16px;
        margin-top: 32px;

        display: flex;
        align-items: center;
        box-sizing: border-box;

        .profile-img {
            width: 40px;
            height: 40px;
            margin-right: 8px;
        }

        .text-area {
            display: flex;
            flex-direction: column;
            justify-content: center; 

            .email-text {
                @include font-style("caption3");
                @include text-color("text-sub1");
                margin: 0px;
            }

            .email {
                @include font-style("body2");
                @include text-color("text-main");
                margin: 0px;
            }
        }
    }

    .next-button {
        margin-top: 40px;
        width: 100%;
    }

    .find-pw-text {
        @include font-style("body1");
        @include text-color("text-sub2");
        text-decoration: underline;
        text-underline-offset: 2px;
        text-decoration-thickness: 1px;
        cursor: pointer;
        display: flex;
        justify-content: center;
    }
}