@import "./colors";
@import "./typography";

.auth-code {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 360px;
    max-width: 600px;
    padding: 24px 12px;
    margin: 0 auto;

    .back-button {
        width: 32px;
        height: 32px;
        cursor: pointer;
    }

    .content-area {
        width: 100%;
        padding: 0 8px;
        margin-top: 32px;
        box-sizing: border-box;
        margin-top: 32px;
    }

    h2 {
        @include font-style("title2");
        @include text-color("");
        justify-content: flex-start;
        margin: 0;
    }

    h3 {
        @include font-style("title4");
        @include text-color("text-sub2");
        margin: 8px 0 0 0;
    }

    p {
        @include font-style("body2");
        @include text-color("text-sub1");
        margin: 0;

        span{
            @include text-color("text-main");
            text-decoration: underline;
            cursor: pointer;
            margin-left: 6px;
        }
    }

    .code-input-container {
        width: 100%;
        margin-top: 40px;
        display: flex;
        gap: 10px;
      }
      
    .code-input {
        @include font-style("display4");
        @include text-color("black");
        @include bg-color("bg-strong");
        height: 66px;
        border-radius: 8px;
        transition: border 0.2s;
        text-align: center;
        padding: 16px 0; // 상하 패딩 추가
      
        &:focus {
          border: 2px solid #4A90E2; // 포커스 시 색상
          outline: none;
        }
    }

    .content-info {
        display: flex;
        flex-direction: column;
        gap: 2px;
        margin-top: 16px;
    }

    .next-button {
        margin-top: 40px;
        width: 100%;
    }

    .timer-container {
        @include font-style("body2");
        @include text-color("text-sub1");
        display: flex;
        align-items: baseline;
        justify-content: center;
        gap: 8px;
        margin-top: 16px;

        .resend-button {
            @include text-color("text-disabled"); 
            cursor: not-allowed; // 기본 비활성화
            text-decoration: underline;
            &.active {
              cursor: pointer;
              @include text-color("text-main"); // 활성화 시 색상
            }
            &.disabled {
              pointer-events: none; // 클릭 아예 막기
            }
        }
    }
}