@import "./colors";
@import "./typography";

.cart-area {
    min-width: 360px;
    max-width: 600px;
    margin: 0 auto;
    box-sizing: border-box;
    min-height: 100vh;

    .diver2 {
        width: 100%;
        height: 1px;
        @include bg-color("line-medium");
        margin: 8px 0;

        &.small-gap {
            margin: 4px 0;
        }
    }

    .header {
        width: 100%;
        height: 48px;
        display: flex;
        position: relative;
        padding: 12px;
        box-sizing: border-box;

        p {
            @include font-style("title3");
            @include text-color();
            margin: 0;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        img {
            width: 24px;
            height: 24px;
            position: absolute;
            left: 12px;

        }
    }

    .tab-wrapper {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        padding-left: 12px;
        padding-right: 12px;
        justify-content: space-around;
        border-bottom: 1px solid #E5E5EC;

        .tab {
            flex: 1;
            text-align: center;
            padding: 12px 27px;
            @include font-style("title4");
            @include text-color("text-sub1");
            border: none;
            background: none;
            position: relative;
            cursor: pointer;

            &.active {
                @include text-color();

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    @include bg-color("line-strong");
                }
            }
        }
    }

    .no-product-area {
        padding: 40px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        &.second {
            min-height: 100vh;
        }

        .no-product-content1 {
            @include font-style("headline4");
            @include text-color();
            margin: 0
        }

        .no-product-content2 {
            @include font-style("title4");
            @include text-color("text-sub2");
            margin: 4px 0 0 0;
        }

        img {
            width: 200px;
            height: 168px;
            margin-top: 20px;
        }

        button {
            margin-top: 20px;
            padding: 8px 12px;
            border: none;
            border-radius: 8px;
            @include bg-color("primary200");
            @include text-color();
            @include font-style("title4");
            cursor: pointer;
        }
    }

    .diver {
        width: 100%;
        box-sizing: border-box;
        height: 8px;
        @include bg-color("bg-strong");
        margin: 0;
    }

    .show-product-area {
        width: 100%;
        box-sizing: border-box;

        .select-product-area {
            width: 100%;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            padding: 12px 16px;
            align-items: center;

            p {
                @include font-style("body1");
                @include text-color();
                text-decoration: underline;
                text-decoration-thickness: 1px;
                text-underline-offset: 2px;
                margin: 0;
                cursor: pointer;
            }
        }

        .show-product {
            @include bg-color("bg-weak");
            width: 100%;
            box-sizing: border-box;
            height: auto;
            padding: 16px;

            .delivery-area {
                width: 100%;
                box-sizing: border-box;
                border-radius: 20px;
                @include bg-color("white");
                overflow: hidden;

                &.bottom {
                    margin-top: 16px;

                    &.empty-top {
                        margin-top: 0;
                    }
                }


                .header {
                    @include bg-color("primary100");
                    @include font-style("headline6");
                    @include text-color();
                    padding: 8px;
                    display: block;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    height: fit-content;

                    span {
                        @include font-style("body2");
                        @include text-color("status-destructive");

                        &.caution {
                            @include text-color("status-cautionary");
                        }
                    }
                }

                .content-area {
                    padding: 16px 12px;
                }
            }

            .cart-info-row {
                display: flex;
                gap: 4px;
                padding: 4px;
                justify-content: center;
                margin-top: 8px;

                img { 
                    width: 18px;
                    height: 18px;
                }
                p {
                    margin: 0;
                    @include text-color("text-sub1");
                    @include font-style("caption1")
                }
            }

            .add-more-product {
                padding: 8px;
                width: 100%;
                box-sizing: border-box;
                margin-top: 20px;
                @include border-color("line-medium");
                border-radius: 8px;
                @include bg-color("white");
                display: flex;
                flex-direction: column;
                gap: 6px;
                align-items: center;
                cursor: pointer;

                img { width: 24px; height: 24px; }
                p {
                    @include text-color("text-sub2");
                    @include font-style("title4");
                    margin: 0
                }
            }
        }

        .order-section {
            @include bg-color("white");
            padding : 16px;
            display: flex;
            flex-direction: column;
            border-bottom: none;

            .order-section-title {
                margin-bottom: 16px;
                @include font-style("headline4");
                @include text-color();
            }

            .order-price-row {
                display: flex;
                justify-content: space-between;        
                padding: 5px 0 5px 0;

                .order-price-title {
                    @include font-style("body1");
                    @include text-color("text-sub2");
                }

                .order-price-content {
                    @include font-style("title4");
                    @include text-color();

                    &.red { @include text-color("status-destructive"); }
                }
            }

            .price-total {
                margin-top: 4px;
                @include bg-color("bg-weak");
                display: flex;
                justify-content: space-between;
                @include font-style("title2");
                @include text-color();
                padding: 6px 12px;

                .price-total-title {
                    @include text-color("text-sub2");
                }
            }
        }

        .extra-option-area {
            width: 100%;
            box-sizing: border-box;
            padding: 16px;

            display: flex;
            flex-direction: column;

            .top-row {
                display: flex;
                gap: 6px;
                align-items: center;

                h5 {
                    @include text-color();
                    @include font-style("headline4");
                    margin: 0;
                }

                .mandatory {
                    padding: 2px 6px;
                    @include text-color();
                    @include font-style("caption1");
                    @include bg-color("bg-strong");
                    border-radius: 4px;
                }
            }

            .info-small {
                margin: 8px 0 16px 0;
                @include text-color("text-sub2");
                @include font-style("caption2");
            }

            .check-row {
                display: flex;
                justify-content: space-between;
                padding: 5px 0;
                .custom-radio {
                    .label-text {
                        @include text-color("text-sub2");
                        @include font-style("body1");
                    }
                }

                p {
                    @include text-color();
                    @include font-style("title4");
                    margin: 0;
                }

                &.bottom {
                    margin-top: 8px;
                }
            }
        }

        .estimates-area {
            padding: 16px;

            h3 {
                @include text-color();
                @include font-style("headline4");
                margin: 0 0 16px 0;
            }

            .estimate-row-area {
                display: flex;
                flex-direction: column;
                gap: 0;

                &.with-margin {
                    margin: 4px 0;
                }
            }

            .estimate-row {
                width: 100%;
                box-sizing: border-box;
                display: flex;
                justify-content: space-between;
                padding: 5px 0;

                &.final {
                    @include bg-color("bg-weak");
                    padding: 6px 12px;
                }

                .label {
                    @include text-color("text-sub2");
                    @include font-style("body1");

                    &.total {
                        @include text-color("text-main");
                        @include font-style("title4");
                    }

                    &.final {
                        @include font-style("title2");
                    }
                }

                .price {
                    @include text-color();
                    @include font-style("title4");

                    &.total {
                        @include text-color("primary400");
                        @include font-style("title3");
                    }

                    &.final {
                        @include font-style("title2");
                    }
                }
            }

            .info-payment-area {
                margin-top: 16px;

                h5, p {
                    @include font-style("caption2");
                    margin: 0;
                }

                h5 {
                    @include text-color("status-cautionary");
                    margin-bottom: 2px;
                }

                p {
                    @include text-color("text-sub2");
                    white-space: pre-wrap;
                }
            }
        }
    }
}

.order-cart-product {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .select-product-row {
        display: flex;
        justify-content: space-between;

        img {
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
    }

    .button-row {
        display: flex;
        gap: 8px;

        button {
            flex: 1;
            padding: 8px;
            border-radius: 8px;
            @include border-color("line-medium");
            @include font-style("title4");
            @include text-color("text-sub2");
            @include bg-color("white");
            cursor: pointer;
        }

        .soldout {
            cursor: default;
            @include border-color("line-weak");
            @include text-color("text-disabled");
        }
    }

    .total-price-area {
        display: flex;
        justify-content: center;
        @include font-style("body1");
        @include text-color("text-sub2");
        margin: 0;

        span {
            @include text-color("status-positive");
        }
    }

    .message-area {
        width: 100%;
        box-sizing: border-box;
        padding: 12px 16px;
        @include text-color("text-sub2");
        @include font-style("body1");
        @include border-color("line-medium");
        border-radius: 8px;
    }
}