@import "./colors";
@import "./typography";

.cta-area {
    position: sticky;
    bottom: 0;
    z-index: 1000;
    width: 100%;
    padding: 20px 16px;
    @include bg-color("white");
    box-sizing: border-box;

    button {
        padding: 12px 0 12px 0;
        width: 100%;
        height: 48px;
        border: none;
        border-radius: 8px;
        @include bg-color("bg-strong");
        @include text-color("text-disabled");
        @include font-style("title4");
        cursor: default
    }

    button.enabled {
        @include bg-color("primary200");
        @include text-color("text-main");
        cursor: pointer;
    }
}