@import "./colors";
@import "./typography";

.find-email {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 360px;
    max-width: 600px;
    padding: 24px 12px;
    margin: 0 auto;

    .back-button {
        width: 32px;
        height: 32px;
        cursor: pointer;
    }

    .content-area {
        width: 100%;
        padding: 0 8px;
        margin-top: 32px;
        box-sizing: border-box;
        margin-top: 32px;
    }

    h2 {
        @include font-style("title2");
        @include text-color("text-main");
        justify-content: flex-start;
        margin: 0;
    }

    p {
        @include font-style("title4");
        @include text-color("text-sub2");
        margin: 8px 0 40px 0;
    }

    .next-button {
        width: 100%;
    }
}