@import "./colors";
@import "./typography";

.login-nesting {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .back-button {
        width: 32px;
        height: 32px;
        position: absolute;
        top: 24px;
        left: 12px;
        cursor: pointer;

        @media (min-width: 768px) {
            left: calc((100vw - 768px) / 2 + 12px);
        }
    }

    .logo-img {
        width: 128px;
        height: auto;
        margin-top: 136px;
    }

    p {
        @include font-style("title3");
        margin-top: 10px;
    }

    input {
        border-radius: 8px;
        border: 1px solid;
        @include border-color("line-medium");
        @include font-style("body1");
        width: 320px;
        padding: 12px 16px;
        box-sizing: border-box;

        &:focus {
            outline: none;
            @include border-color("line-strong");
        }
    }

    .input-email-wrapper {
        margin-top: 60px;
        width: 320px;
        position: relative;

        .input-email {
            width: 100%;
        }

        .x_button {
            position: absolute;
            right: 16px;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
    }

    .input-pw-wrapper {
        margin-top: 16px;
        width: 320px;
        position: relative;

        .input-pw {
            width: 100%;
        }

        .show_pw_button {
            position: absolute;
            right: 16px;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
    }
    
    .email-error-message, .pw-error-message {
        @include font-style("caption2");
        @include text-color("status-cautionary");
        width: 320px;
        margin-left: 8px;
        margin-top: 2px;
    }

    .keep-login {
        margin-top: 20px;
        display: inline-flex;
        // gap: 6px;
        align-items: center;
        width: 320px;
        justify-content: flex-start;
        @include font-style("body2");
        position: relative;
        cursor: pointer;

        input {
            position: absolute;
            opacity: 0;
            height: 0;
            width: 0;
          }
        
          .checkmark {
            height: 20px;
            width: 20px;
            border-radius: 4px;
            border: 1px solid;
            @include border-color("line-medium");
            @include bg-color("white");
            position: relative;
            margin-right: 6px;
        
            &::after {
              content: "";
              position: absolute;
            //   display: none;
              left: 6px;
              top: 2px;
              width: 5px;
              height: 10px;
              border: solid white;
              border-width: 0 2px 2px 0;
              transform: rotate(45deg);
            }
          }

          input:checked ~ .checkmark {
            @include bg-color("primary200");
            @include border-color("line-weak");
        
            &::after {
              display: block;
            }
        }
    }

    .link-group {
        margin-top: 28px;
        width: 280px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;

        p, span {
            display: inline-block;
            margin: 0px;
            padding: 0px;
            @include font-style("body2");
        }

        span {
            @include text-color("line-medium");
        }

        p {
            cursor: pointer;
        }
    }
}