@import "./colors";
@import "./typography";

.login-nesting {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-width: 360px;
    max-width: 600px;
    padding: 24px 12px;
    margin: 0 auto;

    .back-button {
        width: 32px;
        height: 32px;
        position: absolute;
        top: 24px;
        left: 12px;
        cursor: pointer;
    }

    .logo-img {
        width: 128px;
        height: auto;
        margin-top: 136px;
    }

    p {
        @include font-style("title3");
        margin-top: 10px;
    }

    .content-area {
        width: 100%;
        padding: 0 8px;
        margin-top: 60px;
        box-sizing: border-box;
    }

    input {
        border-radius: 8px;
        border: 1px solid;
        @include border-color("line-medium");
        @include font-style("body1");
        width: 320px;
        padding: 12px 16px;
        box-sizing: border-box;

        &:focus {
            outline: none;
            @include border-color("line-strong");
        }
    }

    .input-email-wrapper {
        width: 100%;
        position: relative;

        .input-email {
            width: 100%;
        }

        .x_button {
            position: absolute;
            right: 16px;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
    }

    .input-pw-wrapper {
        margin-top: 16px;
        width: 100%;
        position: relative;

        .input-pw {
            width: 100%;
        }

        .show_pw_button {
            position: absolute;
            right: 16px;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
    }
    
    .email-error-message, .pw-error-message {
        @include font-style("caption2");
        @include text-color("status-cautionary");
        width: 320px;
        margin-left: 8px;
        margin-top: 2px;
    }

    .checkbox-area {
        width: 320px;
        margin-top: 20px;
    }

    .link-group {
        margin: 28px 0 40px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;

        .link-item, span {
            display: flex;
            align-items: center;
            justify-content: center;
            @include font-style("body2");
        }

        span {
            @include text-color("line-medium");
        }

        .link-item {
            cursor: pointer;
            flex: 1;
        }
    }

    .login-btn {
        width: 100%;
    }
}