@import "./colors";
@import "./typography";

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-width: 360px;
    max-width: 600px;
    padding: 24px 12px;
    margin: 0 auto;

    .back-button {
        width: 32px;
        height: 32px;
        position: absolute;
        top: 24px;
        left: 12px;
        cursor: pointer;
    }

    .logo-img {
        width: 128px;
        height: auto;
        margin-top: 136px;
    }

    p {
        @include font-style("title3");
        margin-top: 10px;
    }

    .kakao-button {
        width: 100%;
        height: 48px;
        margin-top: 60px;
        cursor: pointer;
        background-color: #FEE500;
        border-radius: 8px;
    }

    .naver-button {
        width: 100%;
        height: 48px;
        margin-top: 16px;
        cursor: pointer;
        background-color: #03C75A;
        border-radius: 8px;
    }

    .diver {
        width: 100%;
        margin-top: 38px;
        position: relative;

        hr {
            width: 100%;
            height: 1px;
            background-color: #D9D9D9;
            border: none;
        }

        span {
            @include font-style("caption1");
            padding: 8px 6px;

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
        }
    }

    .nesting-button {
        width: 100%;
        height: 48px;
        margin-top: 35px;
        cursor: pointer;
        @include border-color("line-medium");
        border-radius: 8px;
        display: flex;
        gap: 6px;
        justify-content: center;
        align-items: center;

        img {
            width: 24px;
            height: 24px;
        }

        p {
            @include text-color();
            @include font-style("title4");
            margin: 0;
        }
    }
}