@import "./colors";
@import "./typography";

.order-page {
    max-width: 480px;
    margin: 0 auto;
    font-family: sans-serif;
    padding: 16px;
  }
  
  .order-page-title {
    display: flex;
    position: relative; 
    border-bottom: #E5E5EC 1px solid;
    padding: 11px 12px;
    text-align: center;
    align-items: center;

    img {
      width: 24px;
      height: 24px;
      flex-shrink: 0;
    }

    p {
      @include font-style("title3");
      @include text-color("text-main");
      margin: 0;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  
  .order-section {
    border-bottom: 8px solid #F1F1F5;
    padding : 16px;
  }
  
  .order-section-title {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    @include font-style("headline4");
    @include text-color("");

    &.destination {
      justify-content: space-between;
    }

    .count {
        margin: 0 0 0 6px;
        @include font-style("headline6");
        @include text-color("text-sub1");
    }

    .register{
        text-decoration: underline;
        cursor: pointer;
        @include font-style("body1");
        @include text-color("text-sub1");
        margin: 0;
    }

    .left-group {
      display: flex;
      gap: 6px;
      @include text-color("text-main");
      height: auto;
      align-items: center;

      .title {
        @include font-style("headline4");
        margin: 0;
      }

      .chip {
        @include font-style("caption1");
        @include bg-color("bg-strong");
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 100%;
      }
    }
  }
  
  .order-address-box {
    text-align: center;
    border: 1px solid #ccc;
    padding: 21px;
    border-radius: 6px;
    color: #888;
  }

  
  .address-area1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 16px;
  }

  .address-row {
    display: flex;

    p {
      @include font-style("body1");
      margin: 0;
    }

    .address-title {
      width: 60px;
      @include text-color("text-sub1");
    }

    .address-content {
      @include text-color("text-main");
    }
  }
  
  
  .order-customs-code {
    display: flex;
    gap: 8px;
  }
  
  .order-customs-code input {
    flex: 1;
    padding: 13px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
  }
  .order-customs-code input::placeholder{
    @include font-style("body1");
    color: #767676;
  }
  
  .order-lookup-btn {
    background-color: #FFE788;
    vertical-align: middle;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    
    @include font-style("title4");
    @include text-color("text-main");
  }
  .order-count {
    margin-left: 6px;
    @include font-style("headline6");
    @include text-color("text-sub1");
  }

  .order-list-area {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  
  .order-payment-methods {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
  }
  
  .order-payment-methods button {
    padding: 12px 16px;
    @include border-color("line-medium");
    border-radius: 8px;
    background-color: white;
    @include font-style("title4");
    @include text-color("text-sub2"); 
    cursor: pointer;

    &.selected {
       @include text-color("text-main"); 
       @include bg-color("bg-strong");
    }
  }
  
  .order-price-row {
    display: flex;
    justify-content: space-between;
    padding: 5px 0 5px 0;
    
    .left{
        padding: 0;
        @include font-style("body1");
        @include text-color("text-sub2");
    }
    .right {
        padding: 0;
        @include font-style("title4");
        @include text-color("text-main");
        
    }
    .right.red{
        @include text-color("status-destructive");
    }
    
  }
  .order-price-row-total {  
    display: flex;
    justify-content: space-between;
    padding: 6px 12px 6px 12px;
    margin-top: 4px;
    @include font-style("title2");
    @include bg-color("bg-weak");
    .left{
        padding: 0;
        @include text-color("text-sub2");
    }
    .right {
        padding: 0;
        @include text-color("text-main");
    }
}
  
  .order-agreement {
    padding : 20px 16px;
    display: flex;
    align-items:flex-start;
    @include font-style("body2");
    @include text-color("black");
    padding-bottom: 68px;
  }
  