@import "./colors"; 
@import "./typography"; 

.product-card {
    min-width: 220px;
    max-width: 340px;
    height: auto;
    max-height: 564px;
    border: 2px solid black;
    border-radius: 12px;
    padding:20px 20px 24px 20px;
    text-align: center;
    background-color: white;
    flex-grow: 1; 
    flex-shrink: 1;
    flex-basis: 0;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    &.medium{
      width: 256px; /* 패딩, 보더라인 뺀 값 */
      height: auto;
    }

    &.small {
      width: 116px;
      height: auto;
    }
}


.product-card .image-container {
    position: relative;
    width: 100%;
  }
  
  /* 상품 이미지 */
  .product-image {
    width:100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    display: block;
  }


  .product-card .image-container .like-btn {
    position: absolute;
    bottom: 16px;
    right: 16px;
    cursor: pointer;
    z-index: 1;
  }
  
  

  .like-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    flex-shrink: 0; /* 버튼 크기 유지 */
    position: relative;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease-in-out;
  }
  
  .like_btn:active {
    box-shadow: 0 0 0 1px #111111;
  }
  
  /* SVG 아이콘 스타일 */
  .like-icon {
    width: 52px;
    height: 44px;
  }
  /* 상품 정보 */
  .product-info {
    display: flex;
    align-items: flex-start;
    margin: 20px 0 0 8px;
    justify-content: space-between; 
    text-align: left;
    width: 100%;
  }
  
  .product-name {
    height: 60px;
    width: 100%;
    max-width: 100%; 
    overflow: hidden;
    word-break: break-word;
    flex: 1;
    display: -webkit-box; /* 두 줄 제한을 위한 추가 속성 */
    -webkit-line-clamp: 2; /* 두 줄로 제한 */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis; /* 넘치는 텍스트는 말줄임표로 표시 */
    white-space: normal;
    @include font-style("title2");
    @include text-color("sub2"); 
  }
  
  .product-price {
    margin: 6px 0 0 8px;
    text-align:left;
    width: 100%;
    @include font-style("title1");
    @include text-color("text-main");  
}


  @media (max-width: 1024px) {
    .product-card {
        max-width: 320px; /* ✅ 화면이 작아지면 최대 너비 조정 */
    }
}

@media (max-width: 768px) {
    .product-card {
        max-width: 280px; /* ✅ 모바일에서는 조금 더 작게 조정 */
    }
}