@import "./colors";
@import "./typography";

.product-detail {
    min-width: 360px;
    max-width: 768px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .header {
        width: 100%;
        padding: 12px;
        display: flex;
        justify-content: space-between;

        .left-button {
            display: flex;
            height: 24px;

            .back-button {
                width: 24px;
                height: 24px;
            }
        }
        .right-buttons {
            display: flex;
            gap: 12px;
            height: 24px;

            .cart-button {
                width: 24px;
                height: 24px;
            }
            .search-button {
                width: 24px;
                height: 24px;
            }
        }
    }

    .product-img-area {
        width: 100%;
        position: relative;

        .product-img-scroll {
            width: 100%;
            display: flex;
            overflow-x: scroll;
            scroll-snap-type: x mandatory;

            // 스크롤바 안보이게
            scrollbar-width: none;  
            -ms-overflow-style: none;  
            &::-webkit-scrollbar {        
                display: none;
            }

            .product-img {
                flex-shrink: 0;
                width: 100%;
                height: auto;
                scroll-snap-align: start;
            }
        }

        .scroll-button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 40px;
            height: 40px;
            cursor: pointer;
        }
         .scroll-button.left {
            left: 8px;
        }

        .scroll-button.right {
            right: 8px;
        }

        .img-indicator {
            padding: 2px 8px;
            position: absolute;
            bottom: 16px;
            right: 16px;
            border-radius: 11px;
            background: rgba(0, 0, 0, 0.7);
            @include text-color("text-disabled");
            @include font-style("caption1");

            .highlight {
                @include text-color("white");
            }
        }
    }

    .title-area {
        width: 100%;
        padding: 20px 16px 16px 16px;

        .top-row {
            display: flex;
            justify-content: space-between;
            gap: 12px;

            .prouct-title {
                @include font-style("title3");
                margin: 0;
            }

            .share-button {
                width: 36px;
                height: 36px;
                cursor: pointer;
            }
        }

        .product-price {
            margin-top: 6px;
            margin-left: 0;

            &.big {
                @include font-style("title1");
            }

            &.small {
                @include font-style("title3");
                @include text-color("text-sub1");
                text-decoration: line-through;
            }
        }

        .discount-row {
            display: flex;
            gap: 4px;

            .discount-rate {
                @include font-style("title1");
                @include text-color("primary500");
                margin: 0;
            }

            .discounted-price {
                @include font-style("title1");
                @include text-color();
                margin: 0;
            }
        }

        .price-info {
            @include font-style("body1");
            @include text-color("text-sub1");
            margin-top: 6px;
            margin-bottom: 0px;
        }
    }

    .diving-line {
        width: calc(100% - 32px); 
        height: 1px;
        @include bg-color("line-medium");
    }

    .delivery-area {
        width: 100%;
        padding: 16px;

        .delivery-row {
            display: flex;
            position: relative;
        }

        .delivery-fee-row {
            display: flex;
            height: 40px;
            margin-top: 8px;
            position: relative;
        }

        .delivery-info1 {
            @include font-style("boby1");
            @include text-color("text-sub1");
            margin: 0;
        }

        .delivery-info2 {
            @include font-style("boby1");
            @include text-color();
            margin: 0;
            position: absolute;
            left: 62px;
        }

        .overseas-shipping-info-area{
            width: 100%;
            margin-top: 16px;
            border-radius: 12px;
            @include bg-color("bg-weak");
            padding: 12px ;
            
            .overseas-shipping-top-row {
                display: flex;
                gap: 4px;

                .plane-icon {
                    width: 18px;
                    height: 18px;
                }

                .overseas-shipping-title {
                    @include font-style("caption1");
                    margin: 0;
                }
            }

            .overseas-shipping-info {
                margin-left: 22px;
                @include font-style("caption1");
                @include text-color("text-sub2");
                margin-top: 4px;
                margin-bottom: 0;
            }

            .show-more {
                display: inline-block;
                margin-left: 22px;
                @include font-style("caption1");
                @include text-color("text-sub1");
                text-decoration: underline;
                margin-top: 6px;
                margin-bottom: 0;
                cursor: pointer;
            }

            .diving-line2 {
                width: 100%;
                height: 1px;
                @include bg-color("line-medium");
                margin-top: 16px;
                margin-bottom: 16px;
            }

            .shipping-row {
                display: flex;
                gap: 8px;
                @include font-style("caption1");

                .show-more-shipping-title {
                    width: 50px;
                    margin: 0;
                    flex-shrink: 0;
                }

                .show-more-shipping-contents {
                    @include text-color("text-sub2");
                    margin-top: 0px;
                    margin-bottom: 8px;

                    &.bottom {
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }

    .diving-area {
        width: 100%;
        height: 8px;
        @include bg-color("bg-strong");
    }

    .product-origin-area {
        width: 100%;
        padding: 10px 0 10px 16px;
        display: flex;
        gap: 8px;
        align-items: center;

        .origin-img {
            width: 40px;
            height: 40px;
        }

        .origin-info-area {
            .origin {
                @include font-style("title4");
                @include text-color();
                margin: 0;
            }

            .origin-info {
                @include font-style("body2");
                @include text-color("text-sub1");
                margin: 0;
            }
        }
    }



}