@import "./typography";
@import "./colors";

/* 섹션 스타일 */
.why-nesting {
    margin-top: 60px; 
    @include bg-color("primary200");
    padding: 60px 5%;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
  
    @media (max-width: 768px) {
      padding: 40px 20px;
    }
  }
  
  /* 섹션 제목 */
.section-title {
    @include font-style("display6");
    @include text-color();
    margin-bottom: 40px;
    text-align: left;
    margin-left: 8px;

    &.small {
      @include font-style("title3");
      margin-bottom: 20px;
    }
}
  
.why-card {
    background-color: white;
    border-radius: 12px;
    padding: 40px 32px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 0 auto;
    border: 2px solid black;
    box-sizing: border-box;

    // CSS grid 적용
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;

    &.medium {
      grid-template-columns: repeat(2, 1fr);
    }

    &.small {
      grid-template-columns: 1fr;
      padding: 20px;
      gap: 40px;
    }
}
  
  /* 개별 항목 */
.why-item {
    display: flex;
    align-items: flex-start;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;

    /* 강조 텍스트 */
    .highlight-text {
        font-size: 108px;
        @include text-color();
        width: 100%;
        max-width: 432px;
        text-align: left;
        align-items: flex-start;
        flex: none;
        margin: 0;
    
        span {
        @include font-style("display4");
        @include text-color();
        }
    }
  
    h4 {
      @include font-style("headline2");
      @include text-color();
      margin-top: 60px;
      margin-bottom: 12px;
    }
  
    p {
      @include font-style("title1");
      @include text-color("text-sub2");
      margin: 0;
    }

    &.medium {
      h4 {
        margin-top: 30px;
      }
    }

    &.small {
      h4 {
        margin-top: 10px;
        @include font-style("headline6");
      }
      p {
        @include font-style("body4");
      }
      .highlight-text {
        @include font-style("display6");

        span {
          @include font-style("title3");
        }
      }
    }
}
  
  /* 버튼 스타일 */
.why-btn {
    background: transparent;
    border: 2px solid black;
    border-radius: 8px;
    padding: 12px 24px;

    @include font-style("headline4");
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 40px;
  
    &:hover {
      background: black;
      color: white;
    }

    &.small {
      @include font-style("body1");
      margin-top: 20px;
    }
}