.account-info {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 360px;
  max-width: 600px;
  padding: 24px 12px;
  margin: 0 auto;
}
.account-info .back-button {
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.account-info .content-area {
  width: 100%;
  padding: 0 8px;
  margin-top: 32px;
  box-sizing: border-box;
  margin-top: 32px;
}
.account-info h2 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -2.5%;
  margin: 0;
}
.account-info .info-area {
  background-color: #F7F7FB;
  width: 100%;
  border-radius: 12px;
  padding: 10px 16px;
  margin-top: 32px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.account-info .info-area .profile-img {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}
.account-info .info-area .text-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.account-info .info-area .text-area .email-text {
  font-size: 11px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: -2.5%;
  color: #767676;
  margin: 0px;
}
.account-info .info-area .text-area .email {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: -2.5%;
  color: #111111;
  margin: 0px;
}
.account-info .next-button {
  margin-top: 40px;
  width: 100%;
}
.account-info .find-pw-text {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -2.5%;
  color: #505050;
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}