.cart-area {
  min-width: 360px;
  max-width: 600px;
  margin: 0 auto;
  box-sizing: border-box;
  min-height: 100vh;
  padding-bottom: 88px;
}
.cart-area .diver2 {
  width: 100%;
  height: 1px;
  background-color: #E5E5EC;
  margin: 8px 0;
}
.cart-area .diver2.small-gap {
  margin: 4px 0;
}
.cart-area .header {
  width: 100%;
  height: 48px;
  display: flex;
  position: relative;
  padding: 12px;
  box-sizing: border-box;
}
.cart-area .header p {
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  letter-spacing: -2.5%;
  color: #111111;
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.cart-area .header img {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 12px;
}
.cart-area .tab-wrapper {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  padding-left: 12px;
  padding-right: 12px;
  justify-content: space-around;
  border-bottom: 1px solid #E5E5EC;
}
.cart-area .tab-wrapper .tab {
  flex: 1;
  text-align: center;
  padding: 12px 27px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -2.5%;
  color: #767676;
  border: none;
  background: none;
  position: relative;
  cursor: pointer;
}
.cart-area .tab-wrapper .tab.active {
  color: #111111;
}
.cart-area .tab-wrapper .tab.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #111111;
}
.cart-area .no-product-area {
  padding: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart-area .no-product-area.second {
  min-height: 100vh;
}
.cart-area .no-product-area .no-product-content1 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  letter-spacing: -2.5%;
  color: #111111;
  margin: 0;
}
.cart-area .no-product-area .no-product-content2 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -2.5%;
  color: #505050;
  margin: 4px 0 0 0;
}
.cart-area .no-product-area img {
  width: 200px;
  height: 168px;
  margin-top: 20px;
}
.cart-area .no-product-area button {
  margin-top: 20px;
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  background-color: #FFE788;
  color: #111111;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -2.5%;
  cursor: pointer;
}
.cart-area .diver {
  width: 100%;
  box-sizing: border-box;
  height: 8px;
  background-color: #F1F1F5;
  margin: 0;
}
.cart-area .show-product-area {
  width: 100%;
  box-sizing: border-box;
}
.cart-area .show-product-area .select-product-area {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;
  align-items: center;
}
.cart-area .show-product-area .select-product-area p {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -2.5%;
  color: #111111;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  margin: 0;
  cursor: pointer;
}
.cart-area .show-product-area .show-product {
  background-color: #F7F7FB;
  width: 100%;
  box-sizing: border-box;
  height: auto;
  padding: 16px;
}
.cart-area .show-product-area .show-product .delivery-area {
  width: 100%;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: #FFFFFF;
  overflow: hidden;
}
.cart-area .show-product-area .show-product .delivery-area.bottom {
  margin-top: 16px;
}
.cart-area .show-product-area .show-product .delivery-area.bottom.empty-top {
  margin-top: 0;
}
.cart-area .show-product-area .show-product .delivery-area .header {
  background-color: #FFF5C9;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -2.5%;
  color: #111111;
  padding: 8px;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: fit-content;
}
.cart-area .show-product-area .show-product .delivery-area .header span {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: -2.5%;
  color: #FF4242;
}
.cart-area .show-product-area .show-product .delivery-area .header span.caution {
  color: #FF9200;
}
.cart-area .show-product-area .show-product .delivery-area .content-area {
  padding: 16px 12px;
}
.cart-area .show-product-area .show-product .delivery-area .delivery-footer {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: center;
  border-top: 1px solid #E5E5EC;
}
.cart-area .show-product-area .show-product .delivery-area .delivery-footer p {
  margin: 0;
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  letter-spacing: -2.5%;
  color: #505050;
}
.cart-area .show-product-area .show-product .delivery-area .delivery-footer span {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: -2.5%;
  color: #767676;
}
.cart-area .show-product-area .show-product .cart-info-row {
  display: flex;
  gap: 4px;
  padding: 4px;
  justify-content: center;
  margin-top: 8px;
}
.cart-area .show-product-area .show-product .cart-info-row img {
  width: 18px;
  height: 18px;
}
.cart-area .show-product-area .show-product .cart-info-row p {
  margin: 0;
  color: #767676;
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
  letter-spacing: -2.5%;
}
.cart-area .show-product-area .show-product .add-more-product {
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 20px;
  border: 1px solid #E5E5EC;
  border-radius: 8px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  cursor: pointer;
}
.cart-area .show-product-area .show-product .add-more-product img {
  width: 24px;
  height: 24px;
}
.cart-area .show-product-area .show-product .add-more-product p {
  color: #505050;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -2.5%;
  margin: 0;
}
.cart-area .show-product-area .order-section {
  background-color: #FFFFFF;
  padding: 16px;
  display: flex;
  flex-direction: column;
  border-bottom: none;
}
.cart-area .show-product-area .order-section .order-section-title {
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  letter-spacing: -2.5%;
  color: #111111;
}
.cart-area .show-product-area .order-section .order-price-row {
  display: flex;
  justify-content: space-between;
  padding: 5px 0 5px 0;
}
.cart-area .show-product-area .order-section .order-price-row.small {
  padding: 4px 0 4px 8px;
  position: relative;
}
.cart-area .show-product-area .order-section .order-price-row .order-price-title {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -2.5%;
  color: #505050;
}
.cart-area .show-product-area .order-section .order-price-row .order-price-title.small {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: -2.5%;
}
.cart-area .show-product-area .order-section .order-price-row .order-price-content {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -2.5%;
  color: #111111;
}
.cart-area .show-product-area .order-section .order-price-row .order-price-content.red {
  color: #FF4242;
}
.cart-area .show-product-area .order-section .order-price-row .order-price-content.small {
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
  letter-spacing: -2.5%;
  color: #505050;
}
.cart-area .show-product-area .order-section .order-price-row .saving-rate {
  border-radius: 2px;
  background-color: rgba(0, 191, 64, 0.1);
  color: #00BF40;
  font-size: 11px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: -2.5%;
  padding: 2px 4px;
  position: absolute;
  left: 0;
  margin-left: 85px;
}
.cart-area .show-product-area .order-section .price-total {
  margin-top: 4px;
  background-color: #F7F7FB;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  letter-spacing: -2.5%;
  color: #111111;
  padding: 6px 12px;
}
.cart-area .show-product-area .order-section .price-total .price-total-title {
  color: #505050;
}
.cart-area .show-product-area .extra-option-area {
  width: 100%;
  box-sizing: border-box;
  padding: 16px;
  display: flex;
  flex-direction: column;
}
.cart-area .show-product-area .extra-option-area .top-row {
  display: flex;
  gap: 6px;
  align-items: center;
}
.cart-area .show-product-area .extra-option-area .top-row h5 {
  color: #111111;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  letter-spacing: -2.5%;
  margin: 0;
}
.cart-area .show-product-area .extra-option-area .top-row .mandatory {
  padding: 2px 6px;
  color: #111111;
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
  letter-spacing: -2.5%;
  background-color: #F1F1F5;
  border-radius: 4px;
}
.cart-area .show-product-area .extra-option-area .info-small {
  margin: 8px 0 16px 0;
  color: #505050;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  letter-spacing: -2.5%;
}
.cart-area .show-product-area .extra-option-area .check-row {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}
.cart-area .show-product-area .extra-option-area .check-row .custom-radio .label-text {
  color: #505050;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -2.5%;
}
.cart-area .show-product-area .extra-option-area .check-row p {
  color: #111111;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -2.5%;
  margin: 0;
}
.cart-area .show-product-area .extra-option-area .check-row.bottom {
  margin-top: 8px;
}
.cart-area .show-product-area .estimates-area {
  padding: 16px;
}
.cart-area .show-product-area .estimates-area h3 {
  color: #111111;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  letter-spacing: -2.5%;
  margin: 0 0 16px 0;
}
.cart-area .show-product-area .estimates-area .estimate-row-area {
  display: flex;
  flex-direction: column;
  gap: 0;
}
.cart-area .show-product-area .estimates-area .estimate-row-area.with-margin {
  margin: 4px 0;
}
.cart-area .show-product-area .estimates-area .estimate-row {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}
.cart-area .show-product-area .estimates-area .estimate-row.final {
  background-color: #F7F7FB;
  padding: 6px 12px;
}
.cart-area .show-product-area .estimates-area .estimate-row .label {
  color: #505050;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -2.5%;
}
.cart-area .show-product-area .estimates-area .estimate-row .label.total {
  color: #111111;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -2.5%;
}
.cart-area .show-product-area .estimates-area .estimate-row .label.final {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  letter-spacing: -2.5%;
}
.cart-area .show-product-area .estimates-area .estimate-row .price {
  color: #111111;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -2.5%;
}
.cart-area .show-product-area .estimates-area .estimate-row .price.total {
  color: #FFCC4C;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  letter-spacing: -2.5%;
}
.cart-area .show-product-area .estimates-area .estimate-row .price.final {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  letter-spacing: -2.5%;
}
.cart-area .show-product-area .estimates-area .info-payment-area {
  margin-top: 16px;
}
.cart-area .show-product-area .estimates-area .info-payment-area h5, .cart-area .show-product-area .estimates-area .info-payment-area p {
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  letter-spacing: -2.5%;
  margin: 0;
}
.cart-area .show-product-area .estimates-area .info-payment-area h5 {
  color: #FF9200;
  margin-bottom: 2px;
}
.cart-area .show-product-area .estimates-area .info-payment-area p {
  color: #505050;
  white-space: pre-wrap;
}

.order-cart-product {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.order-cart-product .select-product-row {
  display: flex;
  justify-content: space-between;
}
.order-cart-product .select-product-row img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.order-cart-product .button-row {
  display: flex;
  gap: 8px;
}
.order-cart-product .button-row button {
  flex: 1;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #E5E5EC;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -2.5%;
  color: #505050;
  background-color: #FFFFFF;
  cursor: pointer;
}
.order-cart-product .button-row .soldout {
  cursor: default;
  border: 1px solid #F1F1F5;
  color: #999999;
}
.order-cart-product .total-price-area {
  text-align: center;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -2.5%;
  color: #505050;
  margin: 0;
}
.order-cart-product .message-area {
  width: 100%;
  box-sizing: border-box;
  padding: 12px 16px;
  color: #505050;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -2.5%;
  border: 1px solid #E5E5EC;
  border-radius: 8px;
}