.checkbox {
  all: unset;
  display: inline-flex;
  align-items: flex-start;
  width: fit-content;
  justify-content: flex-start;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: -2.5%;
  position: relative;
  cursor: pointer;
}
.checkbox input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
.checkbox .checkmark {
  height: 20px;
  width: 20px;
  border-radius: 4px;
  border: 1px solid;
  border: 1px solid #E5E5EC;
  background-color: #FFFFFF;
  position: relative;
  margin-right: 6px;
}
.checkbox .checkmark::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.checkbox input:checked ~ .checkmark {
  background-color: #FFE788;
  border: 1px solid #F1F1F5;
}
.checkbox input:checked ~ .checkmark::after {
  display: block;
}