.custom-radio {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.custom-radio input {
  display: none;
}
.custom-radio .radio-mark {
  width: 20px;
  height: 20px;
  border: 1px solid;
  border: 1px solid #E5E5EC;
  border-radius: 50%;
  margin-right: 4px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-radio input:checked + .radio-mark::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #FFE788;
  border-radius: 50%;
}
.custom-radio .label-text {
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  letter-spacing: -2.5%;
}