.find-email {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 360px;
  max-width: 600px;
  padding: 24px 12px;
  margin: 0 auto;
}
.find-email .back-button {
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.find-email .content-area {
  width: 100%;
  padding: 0 8px;
  margin-top: 32px;
  box-sizing: border-box;
  margin-top: 32px;
}
.find-email h2 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  letter-spacing: -2.5%;
  color: #111111;
  justify-content: flex-start;
  margin: 0;
}
.find-email p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -2.5%;
  color: #505050;
  margin: 8px 0 40px 0;
}
.find-email .next-button {
  width: 100%;
}