.find-password {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 360px;
  max-width: 600px;
  padding: 24px 12px;
  margin: 0 auto;
}
.find-password .back-button {
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.find-password .content-area {
  width: 100%;
  padding: 0 8px;
  margin-top: 32px;
  box-sizing: border-box;
  margin-top: 32px;
}
.find-password h2 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  letter-spacing: -2.5%;
  justify-content: flex-start;
  margin: 0;
}
.find-password p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -2.5%;
  color: #505050;
  margin: 8px 0 0 0;
}
.find-password h5 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -2.5%;
  margin: 32px 0 4px 0;
}
.find-password .input-email-wrapper {
  width: 100%;
  position: relative;
  margin-bottom: 40px;
}
.find-password .input-email-wrapper input {
  border-radius: 8px;
  border: 1px solid;
  border: 1px solid #E5E5EC;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -2.5%;
  width: 100%;
  padding: 12px 16px;
  box-sizing: border-box;
}
.find-password .input-email-wrapper input:focus {
  outline: none;
  border: 1px solid #111111;
}
.find-password .input-email-wrapper .x-button {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.find-password .next-button {
  width: 100%;
}