.footer {
  padding: 20px;
  background-color: #F7F7FB;
  display: flex;
  position: relative;
  justify-content: space-between;
}
.footer .nesting-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer .nesting-info .img-banner {
  width: 110px;
  height: auto;
}
.footer .nesting-info p {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: -2.5%;
  color: #111111;
  margin: 0;
}
.footer .nesting-info p span {
  color: #E5E5EC;
}
.footer .nesting-info .highlight {
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
  letter-spacing: -2.5%;
}
.footer .nesting-info .goto-info {
  margin: 0;
}
.footer .nesting-info .info-detail {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.footer .social-icons {
  display: flex;
  gap: 12px;
}
.footer .social-icons img {
  width: 32px;
  height: 32px;
}
.footer.small, .footer.extra-small {
  display: flex;
  flex-direction: column;
}
.footer.small .social-icons, .footer.extra-small .social-icons {
  margin-top: 20px;
}