.footer {
  padding: 40px 160px;
  background-color: #F7F7FB;
  display: flex;
  position: relative;
  justify-content: space-between;
}
.footer .nesting-info .img-banner {
  width: 149px;
  height: auto;
  margin-bottom: 20px;
}
.footer .nesting-info p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: -2.5%;
  color: #111111;
  margin-bottom: 9px;
}
.footer .nesting-info p span {
  color: #E5E5EC;
}
.footer .nesting-info .goto-info {
  margin-bottom: 27px;
}
.footer .social-icons {
  display: flex;
  gap: 12px;
}
.footer .social-icons img {
  width: 32px;
  height: 32px;
}
.footer.large {
  gap: 20px;
}
.footer.large img {
  width: 48px;
  height: 48px;
}
.footer.medium {
  padding: 40px 20px;
}
.footer.small {
  padding: 20px 20px;
}
.footer.small p {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: -2.5%;
}