.order-page {
  min-width: 360px;
  max-width: 768px;
  margin: 0 auto;
  font-family: sans-serif;
}

.order-page-title {
  display: flex;
  position: relative;
  border-bottom: #E5E5EC 1px solid;
  padding: 11px 12px;
  text-align: center;
  align-items: center;
}
.order-page-title img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  cursor: pointer;
}
.order-page-title p {
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  letter-spacing: -2.5%;
  color: #111111;
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.order-section {
  border-bottom: 8px solid #F1F1F5;
  padding: 16px;
}

.order-section-title {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  letter-spacing: -2.5%;
  color: #111111;
}
.order-section-title.destination {
  justify-content: space-between;
}
.order-section-title .count {
  margin: 0 0 0 6px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -2.5%;
  color: #767676;
}
.order-section-title .register {
  text-decoration: underline;
  cursor: pointer;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -2.5%;
  color: #767676;
  margin: 0;
}
.order-section-title .left-group {
  display: flex;
  gap: 6px;
  color: #111111;
  height: auto;
  align-items: center;
}
.order-section-title .left-group .title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  letter-spacing: -2.5%;
  margin: 0;
}
.order-section-title .left-group .chip {
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
  letter-spacing: -2.5%;
  background-color: #F1F1F5;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 100%;
}

.order-address-box {
  text-align: center;
  border: 1px solid #ccc;
  padding: 21px;
  border-radius: 6px;
  color: #888;
}

.address-area1 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 16px;
}

.address-row {
  display: flex;
}
.address-row p {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -2.5%;
  margin: 0;
}
.address-row .address-title {
  width: 60px;
  color: #767676;
}
.address-row .address-content {
  color: #111111;
}

.order-customs-code {
  display: flex;
  gap: 8px;
}

.order-customs-code input {
  flex: 1;
  padding: 13px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.order-customs-code input::placeholder {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -2.5%;
  color: #767676;
}

.order-lookup-btn {
  background-color: #FFE788;
  vertical-align: middle;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -2.5%;
  color: #111111;
}

.order-count {
  margin-left: 6px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -2.5%;
  color: #767676;
}

.order-list-area {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.order-payment-methods {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.order-payment-methods button {
  padding: 12px 16px;
  border: 1px solid #E5E5EC;
  border-radius: 8px;
  background-color: white;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -2.5%;
  color: #505050;
  cursor: pointer;
}
.order-payment-methods button.selected {
  color: #111111;
  background-color: #F1F1F5;
}

.order-price-row {
  display: flex;
  justify-content: space-between;
  padding: 5px 0 5px 0;
}
.order-price-row .left {
  padding: 0;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -2.5%;
  color: #505050;
}
.order-price-row .right {
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -2.5%;
  color: #111111;
}
.order-price-row .right.red {
  color: #FF4242;
}

.order-price-row-total {
  display: flex;
  justify-content: space-between;
  padding: 6px 12px 6px 12px;
  margin-top: 4px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  letter-spacing: -2.5%;
  background-color: #F7F7FB;
}
.order-price-row-total .left {
  padding: 0;
  color: #505050;
}
.order-price-row-total .right {
  padding: 0;
  color: #111111;
}

.order-agreement {
  padding: 20px 16px;
  display: flex;
  align-items: flex-start;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: -2.5%;
  color: #000000;
}