.product-card {
  position: relative;
  padding: 8px 8px 16px 8px;
  border: 0px;
  min-width: 112px;
}
.product-card .image-wrapper {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #F1F1F5;
  width: 100%;
  padding-top: 100%;
}
.product-card .image-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  z-index: 1;
}
.product-card .image-wrapper .tag {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #FFE788;
  color: #111111;
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
  letter-spacing: -2.5%;
  padding: 5px 10px;
  border-bottom-right-radius: 8px;
  z-index: 2;
}
.product-card .image-wrapper .soldout-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #FFFFFF;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  letter-spacing: -2.5%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
  z-index: 10;
  pointer-events: all;
}
.product-card .image-wrapper .like-btn {
  position: absolute;
  bottom: 6px;
  right: 6px;
  border: none;
  border-radius: 50%;
  width: 42px;
  height: 36px;
  font-size: 16px;
  cursor: pointer;
}
.product-card .info {
  margin-top: 8px;
  text-align: left;
}
.product-card .info .title-area {
  display: flex;
  gap: 4px;
}
.product-card .info .tag-used {
  border-radius: 2px;
  padding: 0 3px;
  background-color: #F1F1F5;
  font-size: 11px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: -2.5%;
  color: #505050;
  display: inline-flex;
  align-items: center;
}
.product-card .info .title {
  color: #505050;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: -2.5%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-card .info .title.recommend {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -2.5%;
}
.product-card .info .price-info {
  margin-top: 4px;
  display: flex;
  gap: 4px;
  align-items: baseline;
}
.product-card .info .price-info .discount {
  color: #FAAC25;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -2.5%;
}
.product-card .info .price-info .price {
  color: #111111;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  letter-spacing: -2.5%;
  line-height: normal;
}
.product-card .info .price-info .price.recommend {
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  letter-spacing: -2.5%;
}
.product-card .info .likes {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  color: #767676;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -2.5%;
}
.product-card .info .likes img {
  width: 16px;
  height: 16px;
}