.signup-nesting {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  min-width: 360px;
  max-width: 600px;
  padding: 24px 12px;
}
.signup-nesting .back-button {
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.signup-nesting .content-area {
  width: 100%;
  padding: 0 8px;
  margin-top: 32px;
  box-sizing: border-box;
}
.signup-nesting h2 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  letter-spacing: -2.5%;
  color: #111111;
  justify-content: flex-start;
  margin-top: 0;
  margin-bottom: 4px;
}
.signup-nesting h5 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -2.5%;
  color: #111111;
  margin-top: 16px;
  margin-bottom: 4px;
}
.signup-nesting input {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #E5E5EC;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -2.5%;
  padding: 12px 16px;
  box-sizing: border-box;
}
.signup-nesting input:focus {
  outline: none;
  border: 1px solid #111111;
}
.signup-nesting .input-wrapper {
  position: relative;
}
.signup-nesting .input-wrapper .input-button {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.signup-nesting .email-error-message, .signup-nesting .pw-error-message, .signup-nesting .pw-confirm-error-message {
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  letter-spacing: -2.5%;
  color: #FF9200;
  margin-left: 8px;
  margin-top: 2px;
}
.signup-nesting .email-error-message.duplicate, .signup-nesting .pw-error-message.duplicate, .signup-nesting .pw-confirm-error-message.duplicate {
  color: #FF4242;
}
.signup-nesting .pw-confirm-error-message {
  color: #FF4242;
}
.signup-nesting .agree-all-checkbox {
  margin-top: 60px;
  margin-bottom: 13px;
  align-items: flex-start;
}
.signup-nesting .agree-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}
.signup-nesting .marketing-receive-area {
  margin-top: 10px;
  margin-left: 26px;
  display: flex;
  gap: 20px;
}
.signup-nesting .signup-next-button {
  width: 100%;
  margin-top: 40px;
}